.img-upphov {
    position: absolute; /* Gör att du kan placera bilden fritt */
    top: 1; /* Sätter avståndet från toppen till 0 */
    right: 1; /* Sätter avståndet från vänster till 0 */
    margin: 0; /* Tar bort eventuella marginaler */
    padding: 0; /* Tar bort eventuella inre marginaler */
    width: 100px;
    height: auto;
}

.img-start{
    position: absolute; /* Gör att du kan placera bilden fritt */
    top: 1; /* Sätter avståndet från toppen till 0 */
    right: 1; /* Sätter avståndet från vänster till 0 */
    margin: 0; /* Tar bort eventuella marginaler */
    padding: 0; /* Tar bort eventuella inre marginaler */
    width: 100px;
    height: auto;
}

.img-säkerhet{
    position: absolute; /* Gör att du kan placera bilden fritt */
    top: 0; /* Sätter avståndet från toppen till 0 */
    right: 0; /* Sätter avståndet från vänster till 0 */
    margin: 0; /* Tar bort eventuella marginaler */
    padding: 0; /* Tar bort eventuella inre marginaler */
    width: 500px;
    height: auto;
}

.img-elektronisk{
    position: absolute; /* Gör att du kan placera bilden fritt */
    top: 1; /* Sätter avståndet från toppen till 0 */
    right: 1; /* Sätter avståndet från vänster till 0 */
    margin: 0; /* Tar bort eventuella marginaler */
    padding: 0; /* Tar bort eventuella inre marginaler */
    width: 100px;
    height: auto;
}

.img-gdpr{
    position: absolute; /* Gör att du kan placera bilden fritt */
    top: 1; /* Sätter avståndet från toppen till 0 */
    right: 1; /* Sätter avståndet från vänster till 0 */
    margin: 0; /* Tar bort eventuella marginaler */
    padding: 0; /* Tar bort eventuella inre marginaler */
    width: 100px;
    height: auto;
}









