.img-upphov {
    /* Gör att du kan placera bilden fritt */
    position: relative;
    top: 1px;
    /* Sätter avståndet från toppen till 0 */
    right: 1px;
    /* Sätter avståndet från vänster till 0 */
    margin: 0;
    /* Tar bort eventuella marginaler */
    padding: 0;
    /* Tar bort eventuella inre marginaler */
    width: 250px;
    height: auto;
}

.img-säkerhet {
    /* Gör att du kan placera bilden fritt */
    position: relative;
    top: 1px;
    /* Sätter avståndet från toppen till 0 */
    right: 1px;
    /* Sätter avståndet från vänster till 0 */
    margin: 0;
    /* Tar bort eventuella marginaler */
    padding: 0;
    /* Tar bort eventuella inre marginaler */
    width: 250px;
    height: auto;
}

.img-elektronisk {
    /* Gör att du kan placera bilden fritt */
    position: relative;
    top: 1px;
    /* Sätter avståndet från toppen till 0 */
    right: 1px;
    /* Sätter avståndet från vänster till 0 */
    margin: 0;
    /* Tar bort eventuella marginaler */
    padding: 0;
    /* Tar bort eventuella inre marginaler */
    width: 250px;
    height: auto;
}

.img-gdpr {
    /* Gör att du kan placera bilden fritt */
    position: relative;
    top: 1px;
    /* Sätter avståndet från toppen till 0 */
    right: 1px;
    /* Sätter avståndet från vänster till 0 */
    margin: 0;
    /* Tar bort eventuella marginaler */
    padding: 0;
    /* Tar bort eventuella inre marginaler */
    width: 250px;
    height: auto;
}

.header1 {
    display: flex;
    flex-direction: row;
}

.header1 div {
    width: 50%;
}

.imgDiv {
    background-color: red;
    display: flex;
    position: absolute;
    left: 40%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 7%; /* ÄNDRA POSITION FRÅN TOPPEN */
    margin: 0;
    padding: 0;
    width: 35dvw;
    height: auto;
}

.image {
    position: absolute;
    left: 1%;
    top: 100%;
    margin: 0;
    padding: 0;
    /* Tar bort eventuella inre marginaler */
    width: 40%;
    top: 0;
    height: auto;
}

.länkbox{
    background-color: rgb(254, 254, 254);
    position: absolute;
    left: 20%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 5%; /* ÄNDRA POSITION FRÅN TOPPEN */
    border-radius: 25px;
    padding: 20px; 
    width: 50px;
    height: 165px;
}

.startText{
    background-color: rgb(255, 213, 0);
    position: absolute;
    left: 20%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 42%; /* ÄNDRA POSITION FRÅN TOPPEN */
    border-radius: 25px;
    margin: 0;
    padding: 10px;
    width: 100px;
    height: 300x;
}

.girl-image{
    position: absolute;
    left: 55%;
    top: 100%;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    /* Tar bort eventuella inre marginaler */
    width: 12%;
    top: 0;
    height: auto;
}

.imgDiv2{
    background-color: red;
    display: flex;
    position: absolute;
    left: 0%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 6%; /* ÄNDRA POSITION FRÅN TOPPEN */
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: auto;
}

h2 {
    font-size: 25px; /* Change 24px to the desired size */
}

.imgDiv3{
    background-color: red;
    display: flex;
    position: absolute;
    left: 1%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 9%; /* ÄNDRA POSITION FRÅN TOPPEN */
    margin: 0;
    padding: 0;
    height: auto;
}

.nti-tek{
    position: absolute;
    border-radius: 25px;
}

.imgDiv4{
    background-color: red;
    display: flex;
    position: absolute;
    left: 1%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 50%; /* ÄNDRA POSITION FRÅN TOPPEN */
    margin: 0;
    padding: 0;
    height: auto;
}

.img-nti{
    position: absolute;
    border-radius: 25px;
}

.imgDiv5{
    display: flex;
    position: absolute;
    left: 74%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 2.5%; /* ÄNDRA POSITION FRÅN TOPPEN */
    margin: 0;
    padding: 0;
    height: 95%;
    width: 30%;
    border-radius: 25px;
}

.img-eclipse{
    border-radius: 25px;
}

.gdpr-länk{
    background-color: rgb(254, 254, 254);
    position: absolute;
    left: 35%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 2%; /* ÄNDRA POSITION FRÅN TOPPEN */
    border-radius: 25px;
    padding: 20px; 
    width: 25%;
    height: auto;
}

.imgDiv6{
    display: flex;
    position: absolute;
    left: 46%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 5%; /* ÄNDRA POSITION FRÅN TOPPEN */
    margin: 0;
    padding: 0;
    height: 30%;
    width: auto;
}

.Div7{
    background-color: aliceblue;
    border-radius: 25px;
    position: absolute;
    padding:10px;
    margin: 0;
    left: 23%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 40%; /* ÄNDRA POSITION FRÅN TOPPEN */
    height: 53%;
    width: 50%;
}

.Div8{
    background-color: aliceblue;
    border-radius: 25px;
    position: absolute;
    padding:10px;
    margin: 0;
    left: 23%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 100%; /* ÄNDRA POSITION FRÅN TOPPEN */
    height: 50%;
    width: 50%;
}

.Div9{
    background-color: aliceblue;
    border-radius: 25px;
    position: absolute;
    padding:10px;
    margin: 0;
    left: 23%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 157%; /* ÄNDRA POSITION FRÅN TOPPEN */
    height: 48%;
    width: 50%;
}

.Div10{
    background-color: aliceblue;
    border-radius: 25px;
    position: absolute;
    padding:10px;
    margin: 0;
    left: 23%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 212%; /* ÄNDRA POSITION FRÅN TOPPEN */
    height: 35%;
    width: 50%;
}

.upphov-länk{
    background-color: rgb(254, 254, 254);
    position: absolute;
    left: 35%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 2%; /* ÄNDRA POSITION FRÅN TOPPEN */
    border-radius: 25px;
    padding: 20px; 
    width: 25%;
    height: auto;
}

.upphov-img{
    border-radius: 25px;
    position: absolute;
    padding:10px;
    margin: 0;
    left: 50%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 13%; /* ÄNDRA POSITION FRÅN TOPPEN */
    height: 10%;
    width: 10%;
}

.img-upphov{
    height: 160%;
    width: auto;
    border-radius: 25px;
}

.Div11{
    background-color: aliceblue;
    border-radius: 25px;
    position: absolute;
    padding:10px;
    margin: 0;
    left: 23%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 42%; /* ÄNDRA POSITION FRÅN TOPPEN */
    height: 42%;
    width: 50%;
}

.Div12{
    background-color: aliceblue;
    border-radius: 25px;
    position: absolute;
    padding:10px;
    margin: 0;
    left: 23%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 92%; /* ÄNDRA POSITION FRÅN TOPPEN */
    height: 66%;
    width: 50%;
}

.elektronisk-länk{
    background-color: rgb(254, 254, 254);
    position: absolute;
    left: 35%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 2%; /* ÄNDRA POSITION FRÅN TOPPEN */
    border-radius: 25px;
    padding: 20px; 
    width: 25%;
    height: auto;
}

.elektronisk-img{
    border-radius: 25px;
    position: absolute;
    padding:10px;
    margin: 0;
    left: 50%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 12%; /* ÄNDRA POSITION FRÅN TOPPEN */
    height: 10%;
    width: 10%;
}

.img-elektronisk{
    height: 160%;
    width: auto;
    border-radius: 25px;
}

.Div13{
    background-color: aliceblue;
    border-radius: 25px;
    position: absolute;
    padding:10px;
    margin: 0;
    left: 23%; /* ÄNDRA POSITION FRÅN VÄNSTER */
    top: 46%; /* ÄNDRA POSITION FRÅN TOPPEN */
    height: 54%;
    width: 50%;
}


