.img-upphov {
     /* Gör att du kan placera bilden fritt */
    position: relative;
    top: 1; /* Sätter avståndet från toppen till 0 */
    right: 1; /* Sätter avståndet från vänster till 0 */
    margin: 0; /* Tar bort eventuella marginaler */
    padding: 0; /* Tar bort eventuella inre marginaler */
    width: 250px;
    height: auto;
}

.img-start{
     /* Gör att du kan placera bilden fritt */
    position: relative;
    top: 1; /* Sätter avståndet från toppen till 0 */
    right: 1; /* Sätter avståndet från vänster till 0 */
    margin: 0; /* Tar bort eventuella marginaler */
    padding: 0; /* Tar bort eventuella inre marginaler */
    width: 250px;
    height: auto;
}

.img-säkerhet{
     /* Gör att du kan placera bilden fritt */
    position: relative;
    top: 0; /* Sätter avståndet från toppen till 0 */
    right: 0; /* Sätter avståndet från vänster till 0 */
    margin: 0; /* Tar bort eventuella marginaler */
    padding: 0; /* Tar bort eventuella inre marginaler */
    width: 250px;
    height: auto;
}

.img-elektronisk{
     /* Gör att du kan placera bilden fritt */
    position: relative;
    top: 1; /* Sätter avståndet från toppen till 0 */
    right: 1; /* Sätter avståndet från vänster till 0 */
    margin: 0; /* Tar bort eventuella marginaler */
    padding: 0; /* Tar bort eventuella inre marginaler */
    width: 250px;
    height: auto;
}

.img-gdpr{
    /* Gör att du kan placera bilden fritt */
    position: relative;
    top: 1; /* Sätter avståndet från toppen till 0 */
    right: 1; /* Sätter avståndet från vänster till 0 */
    margin: 0; /* Tar bort eventuella marginaler */
    padding: 0; /* Tar bort eventuella inre marginaler */
    width: 250px;
    height: auto;
}









